a {text-decoration: none; font-family: Copperplate, 'Copperplate Gothic Light', fantasy; }
a:hover {text-decoration: underline; background-color: #FDD017;}


body { font-size: 16px; font-family: sans-serif; margin: 0; padding: 0; }
h1 { margin: 0px 0px 1em 0px; font-size: 1.7em; font-family: Copperplate, 'Copperplate Gothic Light', fantasy; }
h3 {font-family: Copperplate, 'Copperplate Gothic Light', fantasy;}

li {font-style: italic;}
table { width: 70%; float: left; margin-bottom: 75px; }

tbody {background-color: #C48793; font-style: italic;}

.circle-singleline {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    font-size: 30px;
    line-height: 150px;
    text-align: center;    
    background: #810541;
    color: #fff;
}