@font-face {
    font-family: AlexBrush;
    src: url(AlexBrush-Regular.ttf);
}

a:hover {font-weight: bold; }

a:active { text-decoration: none; }

a:visited { color: black;}

header { height: 50px; background-color: lightgrey; margin-bottom: 50px; position: relative; }
h1{font-family: AlexBrush; }

div {
    clear: left;
    clear: right;
}

footer { font-size: .05em; height: 100px; background-color: lightgrey; margin-bottom: 50px; position: relative; }
